.header {
    background: -webkit-linear-gradient(right,
    rgb(173, 172, 250) 0%,
    rgb(105, 119, 247) 15%, 
    rgb(56, 52, 247) 45%, 
    rgb(3, 0, 168) 100%);
    height: 4em;
    display: flex;
    flex-direction: row;
    
}

.bannerHeader{
    height: 4em;
    width: 11em;
}