.header {
    height: 4em;

    background: -webkit-linear-gradient(right,
    rgb(60, 60, 255) 15%,
    rgb(0, 0, 255) 25%, 
    rgb(0, 0, 200) 45%, 
    rgb(0, 0, 100) 100%);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.bannerHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4em;
    cursor: pointer;
}

.btnGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}