.login{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.formLogIn{

    height: 35.95em;
    width: 35em;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: black solid 0.2em;
}

/* .emailInput{
    width: 15em;
    margin: 1em;
}

.passwordInput{
    width: 15em;
    margin: 1em;
}

.btnEntrar{
    height: 2em;
    width: 10em;
} */

