.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.title {
    color: grey;
    font-size: 18px;
}


.logo {
    width: 100%;
    justify-content: center;
    align-items: center;
}